@import url('https://fonts.googleapis.com/css2?family=Emblema+One&display=swap');
:root{
    background-color: rgb(224, 164, 81);
}
.cabecalho{

    width: 100%;
}
.botao{
    color: rgb(246, 241, 241);
    font-size: 24px;
}
.titulo{
    color: rgb(255, 68, 0);
    font-size: 32px;
    font-family: Emblema One;
    text-align: center;
}
.h2{
    font-family: Emblema One;
    font-size: 29px;
    color: aliceblue;

}
.texto-inicial{
    font-size: 24px;
    color: aliceblue;
}
.texto-fonte{
    font-size: 18px;
}
.foto{
    width: 30%;
    border-radius: 10px;
    height: 500px;
}
.texto-descricao{
    font-size: 24px;
    display: inline-block;
}
.foto-explorar{
    text-align: left;
    width: 500px;
    height: 500px;
    display: inline-block;
}
.destino{
    display: flex;
    align-items: center;
}
.ul{
    text-decoration: none;
    list-style-type: none;
    display: flex;
}
topicos{
    text-decoration: none;
    list-style-type: none;
    display: flex;
}