@import url('https://fonts.googleapis.com/css2?family=Emblema+One&display=swap');
:root{
    background-color: rgb(20, 33, 181);
}
.cabecalho{

    width: 100%;
}
.botao{
    color: rgb(246, 241, 241);
    font-size: 24px;
}
.titulo{
    color: rgb(0, 0, 0);
    font-size: 32px;
    font-family: Emblema One;
    text-align: center;
}
.h2{
    font-family: Emblema One;
    font-size: 29px;
    color: aliceblue;

}
.texto-inicial{
    font-size: 24px;
    color: aliceblue;
}
.texto-fonte{
    font-size: 18px;
}
.foto{
    width: 30%;
}
.topicos{
    text-decoration: none;
}